<section>

    <div class="container py-5">
        <p class="mx-5">
            @Html.Partial("_Categories")
        </p>
        <div class="row">
            @Html.Partial("_Pagination")
        </div>
        <div class="row">
            @for (int i = 0; i < 20; i++)
            {
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="card border-primary mb-3 text-center">
                        <div class="card-footer text-muted">
                            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbooktrapper.com%2Fassets%2Fbook_placeholder-406203b0e6780be8153818c65f7d80061f62079d907f33fc092c2434cdf8e954.png&f=1&nofb=1" class="card-img-top img-thumbnail" alt="Book" />
                            <smalla>
                                <p class="item_text">
                                    Book Title : Author
                                </p>
                            </smalla>
                            <p>Prcice</p>
                            <a href="product.html" class="text-dark stretched-link text-decoration-none"> </a>
                        </div>
                    </div>
                </div>
            }
            </div>

        <div class="row">
            @Html.Partial("_Pagination")
        </div>
    </div>
</section>