<div class="container-fluid bg-primary text-dark p-2 mt-4 rounded">
    <div class="container bg-primary rounded p-5">
        <h1><b><%= title %></b></h1>
        <p><%= jumbotron_info %></p>
        <a class="btn btn-secondary btn-lg" href="#" role="button"> <%= jumbotron_btn %> </a>
    </div>
</div>
