<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            <b>
                Book Mall
            </b>
        </a>

        <form class="form-inline">
            <input class="form-control mr-sm-2 rounded" type="search" placeholder="Search" aria-label="Search">
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-auto"></div>
            <ul class="navbar-nav my-2 my-lg-0">

                <li class="">
                    <a class="nav-link" data-bs-toggle="modal" href="#exampleModalToggle" role="button">
                        <span class="sr-only">
                            @ViewBag.username
                        </span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <h6 class="dropdown-header">
                            Manage Profile
                        </h6>


                        <a class="dropdown-item" href="/profile">
                            Personal Center
                        </a>

                        <a class="dropdown-item" href="/settings">
                            Settings
                        </a>

                        <a class="dropdown-item" href="/cart">
                            Cart
                        </a>

                        <a class="dropdown-item" href="/library">
                            My Library
                        </a>


                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>